h1 {
    display: flex;
    justify-content: center;
}

#controls {
    margin-top: 40%;
    display: flex;
    align-self: end;
    justify-content: space-around;
}

#players {
    display: flex;
    justify-content: center;
}

img {
    width: 100px;
}

.hidden {
    visibility: hidden;
}