body {
    background-color: #096c47;
    border: solid 5px #c8a500;
    border-radius: 10px;
    color: #eac100;
    font-family: 'Cinzel', serif;
    /* height: 750px; */
    margin: 50px 250px;
    /* padding: 400px; */
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Cinzel', serif;
    font-weight: 900;
    font-size: 50px;
}

#players {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 125px;
}

#in-out-viewer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#center-viewer {
    display: flex;
    align-items: center;
    justify-content: center;
}

button, .button {
    font-size: 30px;
    background: none;
    font-family: 'Cinzel', serif;
    font-weight: 700;
    color: #eac100;
    border: solid 2px #c8a500;
    border-radius: 5px;
}

button {
    margin-left: 10px;
    margin-right: 10px;
}

.button {
    font-size: 20px;
    margin: 15px;
}

#message {
    font-size: 20px;
    background: none;
    font-family: 'Cinzel', serif;
    font-weight: 700;
    color: #eac100;
}

#deal {
    margin: 0 auto;
    display: block;
}

#play-again {
    margin: 0 auto;
    display: block;
}

#end-message-viewer ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}

#end-message-viewer {
    margin: 0;
}

.hand {
    padding-top: 10px;
    padding-bottom: 10px;
}

.hidden {
    visibility: hidden;
}

.name {
    position: absolute;
    left: 100px;
    
}

#points-header {
    position: absolute;
    left: 100px;
}

.points {
    position: absolute;
    left: 175px;
}