h1 {
    display: flex;
    justify-content: center;
}

#controls {
    margin-top: 40%;
    display: flex;
    align-self: end;
    justify-content: space-around;
}

#center-viewer {
    display: flex;
    align-items: center;
    justify-content: center;
}