body {
    background-image: url('galaxy_background.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-family: Guardians, Arial, Helvetica, sans-serif;
    color: gold;
}

h1 {
    margin: 50px auto 10px;
    text-shadow: 2px 6px 5px rgb(62, 0, 62);
}

.tag-line {
    font-family: Guardians, Arial, Helvetica, sans-serif;
    color: gold;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(62, 0, 62);
}

.menu {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
    text-align: center;
}

.link-1 {
    font-family: Guardians, Arial, Helvetica, sans-serif;
    color: rgb(242, 44, 206);
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    background-color: gold;
    padding: 10px;
    border-radius: 5px;
    border: 4px solid rgb(242, 44, 206);
}   

.link-2 {
    font-family: Guardians, Arial, Helvetica, sans-serif;
    color: aqua;
    display: inline-block;
    text-shadow: 0px 0px 6px aqua;
    text-decoration: none;
    font-size: 2.5em;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(242, 44, 206);
    border: 5px solid aqua;
}

.link-3 {
    font-family: Guardians, Arial, Helvetica, sans-serif;
    color: rgb(242, 44, 206);
    display: inline-block;
    text-decoration: none;
    font-size: 0.75em;
    background-color: gold;
    padding: 10px;
    border-radius: 5px;
    border: 4px solid rgb(242, 44, 206);
}

.link-1:hover, .link-3:hover {
    color: gold;
    background-color: rgb(242, 44, 206);
    border: 4px solid gold;
    box-shadow: 0 0px 10px white;
    text-shadow: 0 0px 5px rgb(242, 44, 206);
} 

.link-2:hover {
    color: rgb(242, 44, 206);
    background-color: aqua;
    border: 5px solid rgb(242, 44, 206);
    box-shadow: 0 0px 10px white;
    text-shadow: 0 0px 5px rgb(242, 44, 206);
} 